[run]
cover_pylib = false
omit =
  */cnodc/desktop/*
  */cnodc/system/web/*
  */cnodc/programs/castaway_ctd/*
  */cnodc/programs/gts_send/*
  */cnodc/programs/gtspp/*
  */cnodc/storage/sftp.py
  */cnodc/ocproc2/codecs/ocproc2debug.py


[report]
exclude_also =
  raise NotImplementedError
