{{ csp_allow('script-src', 'https://cdn.datatables.net') }}
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js" integrity="sha512-2FAQqknslN8pS8aF3mK9Iiene7xFUawTM2h/aloIG4tkbXbzTlUimIfZvt6gLNTJbknJ4jwBKGWIQ4uq0DIPeA==" crossorigin="anonymous"></script>
{{ csp_allow('style-src', 'https://cdn.datatables.net') }}
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" rel="stylesheet" integrity="sha512-kKZ/XwW91zX5u2On9zBR4yAyVb3TXr39ndgkBajTyc4ReR+uYKp7JVimYxrUanPfsYAeJlqyA/OhaI+C60AhuA==" crossorigin="anonymous" />
