{{ csp_allow('script-src', 'https://npmcdn.com') }}
{{ csp_allow('script-src', 'https://cdn.jsdelivr.net') }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr" integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://npmcdn.com/flatpickr/dist/l10n/fr.js" integrity="sha512-LqB8jMRhcKqMUy0giKYLI6cM3BL6NZ9+A10MESJLyGx1LIc5Wd0NZMeaG36Hed3/1x3B0GfqdEonsfOHGNvQ7A==" crossorigin="anonymous"></script>
{{ csp_allow('style-src', 'https://npmcdn.com') }}
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" integrity="sha512-MQXduO8IQnJVq1qmySpN87QQkiR1bZHtorbJBD0tzy7/0U9+YIC93QWHeGTEoojMVHWWNkoCp8V6OzVSYrX0oQ==" crossorigin="anonymous" />